<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ToDoリスト</title>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    <div id="app">
      <h1>ToDoリスト</h1>
      <div>
        <label><input type="radio" v-model="showingStatus" value="すべて">すべて</label>
        <label><input type="radio" v-model="showingStatus" value="作業中">作業中</label>
        <label><input type="radio" v-model="showingStatus" value="完了">完了</label>
      </div>
      <table>
        <theader>
          <tr>
            <th>ID</th>
            <th>コメント</th>
            <th>状態</th>
          </tr>
        </theader>
        <tbody>
          <tr v-for="(item, idx) in tasks" v-show="item.show">
            <td>{{ idx }}</td>
            <td>{{ item.task }}</td>
            <td>
              <button @click="changeStatus(idx)">{{ item.status }}</button>
            </td>
            <td>  
              <button @click="deleteTask(idx)">削除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h2>新規タスクの追加</h2>
      <input type="text" v-model="newTask" @keyup.enter="addTask">
      <button @click="addTask">追加</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>